<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is my first redirected web page</h1>
    <h2>Redirected by ramas route</h2>
    <!--<form method="post">
        <label>name:</label>
        <input type="text" name="name"><br>
        <lable>branch:</lable>
        <input type="text"name="branch"><br>
        <button>submit</button>
    </form>-->
</body>
</html>