<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <form method="post">
    <h2>external marks</h2>
    <label for="">software</label>
    <input type="text" name="se"><br><br>
    <label for="">computernetworks</label>
    <input type="text" name="cn"><br><br>
    <label for="">iot</label>
    <input type="text" name="iot"><br><br>
    <h2>Internal marks</h2>
    <label for="">software</label>
    <input type="text" name="intse"><br><br>
    <label for="">computernetworks</label>
    <input type="text" name="intcn"><br><br>
    <label for="">iot</label>
    <input type="text" name="intiot"><br><br>
    <button>submit</button>
    </form>
    </center>
</body>
</html>